body{
    background-image: url(regal.png);
    /*Background pattern from Toptal Subtle Patterns*/
}
*{
    box-sizing: border-box;
}
.topHeader{
    text-align: center;
    background-color:  rgba(173, 163, 163, 0.651);
    padding: 3%;
}
.topNav{
    display: flex;
    justify-content: space-evenly;
    background-color:  rgba(173, 163, 163, 0.651);
    padding: 1%;
}
.topNav div{
    padding: 1% 3%;
    background-color: rgba(124, 117, 117, 0.651);
}
.content{
    display: flex;
    align-items: flex-start;
}
main{
    flex: 3;
    background-color:  rgba(160, 153, 153, 0.651);
    padding: 2%;
    margin: 1% 0;
}
p h1{
    margin: 0;
}
h1{
    display: block;
    font-size: 2em;
}
img{
    max-width: 100%;
}
h1{
    display: block;
    font-size: 2em;
    margin: 0.67em;
    font-weight: bold;
}
p{
    display: block;
    margin: 1em;
}
.recomend{
    border: 2px solid black;
    flex: 1;
    padding: 1%;
    background-color:  rgba(173, 163, 163, 0.651);
    margin: 1% 0;
}

footer{
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-top: 1%;
    background-color:  rgba(173, 163, 163, 0.651);
}
