body{
    background-image: url(regal.png);
    /*Background pattern from Toptal Subtle Patterns*/
}
.topHeader{
    text-align: center;
}
.topNav{
    display: flex;
    justify-content: space-evenly;
}
.content{
    border: 2px solid navy;
    display: flex;
    align-items: flex-start;
}
main{
    border: 2px solid red;
    flex: 2;
}
img{
    max-width: 100%;
}
h1{
    display: block;
    font-size: 2em;
    margin: 0.67em;
    font-weight: bold;
}
p{
    display: block;
    margin: 1em;
}
.recomend{
    border: 2px solid black;
    flex: 1;
}
aside{
    display: block;
}