body{
    background-color: aquamarine;
}
*{
    box-sizing: border-box;
}
.topHeader{
    text-align: center;
    padding: 3%;
}
.topNav{
    display: flex;
    justify-content: space-evenly;
    background-color:  rgba(173, 163, 163, 0.651);
    padding: 1%;
    font-size: 2em;
    font-weight: bold;
    color: rgb(243, 18, 149);
}
.content{
    border: 5px dashed rgb(238, 9, 9);
    padding: 7%;
    margin-top: 2%;
}

main{
    background-color: rgb(162, 123, 241);
    padding: 10%;
    margin: 1% 0;
}
h1{
    font-size: 2em;
    font-style: italic;
}
p{
    font-size: 1.5em;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 4%;
    margin: 2%;
    font-size: 2em;
    border: 2px solid black;
  }
  a{
      color: rgb(23, 109, 6);
  }