*{
    box-sizing: border-box;
  }
$primaryColor: rgb(247, 39, 39);
$secondaryColor: rgb(243, 203, 203);
%centered{
  display:flex;
  justify-content: center;
  align-items: center;
}
img{
  max-width: 60%;
}

body{
  background-color: aqua;
  h1{
    @extend %centered;
  }
  .twoCols{
    @extend %centered;
    header{
      flex:2;
      padding-left:2%;
      color:$primaryColor;
      background-color: $secondaryColor;
    }
    .imgHolder{
      @extend %centered;
      flex:1;
      background-color:$primaryColor;
      padding:5%;
    }
  }
  main{
    @extend %centered;
    flex-wrap: wrap;
    justify-content: space-around;
    div{
      @extend %centered;
      border:2px dashed red;
      width:30vw;
      height:30vw;
      margin:1vw 0;
      background-size:cover;
      background-position: center;
    }

    @for $i from 1 through 6{
      div:nth-child(#{$i}){
        border:4vw solid lighten( #2a0a33, $i * 13%);
        background-image: url(img/d#{$i}.jpg);
      }
    }
  }
  .second{
    flex-direction: row-reverse;
  }
}
.footer{
  @extend %centered;
  padding: 4%;
  margin: 2%;
  font-size: 2em;
}
i{
  color: black;
}
