body{
    background-image: url(2.jpg);
    background-size: cover;

}
header{
   background-color: rgb(206, 210, 214);
    margin: 0%;
    padding: 1%;
    text-align: center;
    font-weight: bold;
}

.topNav{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0;
}

.topNav section{
    background-color: rgba(0, 250, 154, 0.623);
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 70vh;
    margin: -8vh;
    margin-left: -40vh;
    color: navy;
    font-weight: bold;
    text-align: center;
       
}

.topNav section:nth-child(even){
    margin-left: 25vh;
}

p {
    display: block;
    margin: 0%;
    font-weight: bold;
    text-align: center;
}