body{
    background-image: url(2.jpg);
    background-size: cover;

}
*{
    box-sizing: border-box;
}
header{
   background-color: rgba(206, 210, 214, 0.678);
    margin: 0%;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    font-size: 5vh;
    font-style: italic;
}

.topNav{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0;
}

.topNav section{
    background-color: rgba(0, 250, 133, 0.623);
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 70vh;
    margin: -8vh;
    margin-left: -40vh;
    color: navy;
    font-weight: bold;
    text-align: center;
       
}

.topNav section:nth-child(even){
    margin-left: 25vh;
    background-color: rgba(14, 217, 231, 0.623);  
}
h2{
    width: 50vh;
    height: 5vh;
    display: block;
    color: crimson;
    font-size: 6vh;
    font-weight: bold;
}

p{
    display: block;
    margin: 0%;
    font-weight: bold;
    text-align: center;
    height: 70vh;
    width: 70vh;
    color: rgb(124, 6, 29);
}
h3{
    width: 50vh;
    height: 5vh;
    display: block;
    color: rgb(143, 14, 126);
    font-size: 6vh;
    font-weight: bold;
    
}
p1{
    display: block;
    margin: 0%;
    font-weight: bold;
    text-align: center;
    height: 10vh;
    width: 50vh;
    color: rgb(196, 12, 171);
    font-size: 4vh;
}
div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;  

}
section h3 p1 div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
h4{
    width: 50vh;
    height: 5vh;
    display: block;
    color: rgb(89, 34, 238);
    font-size: 6vh;
    font-weight: bold;
}