
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */